.projects {
  background: var(--light-bg);
  padding: 4rem 0;
}

.projects h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #263b87; 
  margin-bottom: 2rem;
  position: relative;
}

.projects h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: var(--secondary-color);
  margin: 0.5rem auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  /* Aggiunti per il layout flex */
  display: flex;
  flex-direction: column;
}

.project-card h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: 700;
}

.project-card p {
  margin-bottom: 1rem;
  color: var(--text-color);
  /* Consente al paragrafo di espandersi e spingere il pulsante in fondo */
  flex-grow: 1;
}

.github-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-weight: 700;
  /* Posiziona il link sempre in fondo alla card */
  margin-top: auto;
  /* Allinea l'icona e il testo */
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.github-link:hover {
  color: var(--accent-color);
}
